.Slider{
    text-align: center;
}
.sicon{
    font-size: 4rem;
}
.about-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    
  }
  